#body {
    background-image: url(veggies.png);
    background-size: 100%;
    display: inline-block;
}

.dropdownMenu {
    text-align: center;
    margin-left: 19%;
    margin-top: 1%;
    padding-top: 40pt;
    background-color: darkgreen;;
    width: 500pt;
    padding-bottom: 40pt;
    z-index: 10;
}

#selectPrompt {
    font-weight: bold;
    font-size: 18pt;
    color: white;
}

#crops {
    font-size: 18pt;
    color: white;
    background-color: darkolivegreen;
    width: 120pt;
    height: 35pt;
}

#seeInfo {
    font-size: 17pt;
    color: white;
    background-color: darkolivegreen;
    width: 100pt;
    height: 35pt;
}

/*.buttonone:hover {color:}*/

#funFact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 80pt;
    font-weight: bold;
    width: 400pt;
    padding-top: 7pt;
    padding-bottom: 3pt;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 125%;
    margin-top: -10pt;
    text-align: right;
}

#fact {
    padding-top: 10pt;
    color: black;
    font-size: 17pt;
    font-weight: lighter;
}
