#body {
    background-image: url("basil.png");
    background-size: 100%;
}

#headBar {
    background-color: darkgreen;
    margin-left: 2.5%;
    width: 95%;
    height: 50pt;
    z-index: 10;
    margin-top: 12pt;
}

#header {
    margin-top: -42pt;
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
    color: white;
}

#section1 {
    color: white;
    font-size: 17pt;
    font-weight: bold;
    background-color: darkgreen;
    width: 93%;
    padding-top: 7pt;
    padding-bottom: 3pt;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 2.5%;
    margin-top: 24pt;
}

#summary {
    color: white;
    font-size: 14pt;
    font-weight: lighter;
}